*{font-family: sans-serif;
  box-sizing: border-box;}

title-container {
  width: 90%;
  margin-right: auto;
  text-align: center;
  font-size: 175%;
}

body {
 font-size: 100%;
}

p {
 background-color: grey;
 }

#Rasgulla{background-color: red;}
