*{font-family: bold;
  box-sizing: border-box;}

title-container {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  }

menu-title{
   	position: absolute;
  top: 0px;
  right:0px;
  margin: auto;
  float: none;
  width: 140px;
  height: 35px;
  border:1px solid black;
  text-align:center;
  padding: center;
  }
   

body {
 font-size: 100%;
}

p {
 background-color: grey;
 }

.row {
    width: 90%;
    border: 5px;
    margin-right: auto;
    margin-left: auto;
    padding:5px;
   }
#Rasgulla{background-color:#e8a7a7;}
#Sushi{background-color:#d6331a; }
#GulabJamun{background-color:#eddb80;}

/********** Desktop **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    background-color: white;
    width: 33.33%;
  }
}

/********** Tablet **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
    background-color: white;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}

/********** Mobile **********/
@media (max-width: 767px) {.col-sm-12 {
    float: left;
    background-color: white;
    width: 100%;}
}



