*{font-family: sans-serif;
  box-sizing: border-box;}

title-container {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  }

menu-title{
   	width:40%;
   	float:right;
   	border: 2px solid black;
   	text-align: center;
   	font-size: 125%;
   	float:right;
   }

body {
 font-size: 100%;
}

p {
 background-color: grey;
 }

#Rasgulla{background-color:#e8a7a7;}
#Sushi{background-color:#d6331a; }
#GulabJamun{background-color:#eddb80;}



