*{ 
box-sizing: border-box;
}

.title-container {
       width: 90%
	text-align: center;

.menu-title {
        width: 40%
   	float:right;
   	border: 1px solid black;
   	text-align: center;
   }
   	
  .body {
 font-size: 100%;
}

p {
 background-color: grey;
 }

.row {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding:5px;
   }

#Rasgulla{background-color:#e8a7a7;}
#Sushi{background-color:#eddb80;}
#GulabJamun{background-color:#d6331a;}

/********** Desktop **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    background-color: white;
    width: 33.33%;
  }
}

/********** Tablet **********/
@media (min-width: 768px) and (max-width: 991px) {
  col-md-6, col-md-12 {
    float: left;
    background-color: white;
  }
  col-md-6 {
    width: 50%;
  }
  col-md-12 {
    width: 100%;
  }
}

/********** Mobile **********/
@media (max-width: 767px) {col-sm-12 {
    float: left;
    background-color: white;
    width: 100%;}
}



