*{font-family: sans-serif;
  box-sizing: border-box;}

title-container {
  width: 90%;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-size: 175%;
  }

menu-title{
   	width:40%;
   	float:right;
   	border: 2px solid black;
   	text-align: center;
   	font-size: 125%;
   	float:right;
   }

body {
 font-size: 100%;
}

p {
 background-color: grey;
 }

#Rasgulla{background-color:#e8a7a7;}
#Sushi{background-color:##d6331a; }
#GulabJamun{background-color:#eddb80;}


