*{font-family : Comic Sans MS;
box-sizing: border-box;
}

.title-container {
       width: 100%;
        height: 100px
        margin-left: auto;
	text-align: center;
        font-size: 175%;
}

.menu {
   	background-color: #8e8e8e;
   	margin:10px;
   	border:2px solid black;
   }

.menu-title {
        width: 40%;
   	float:right;
   	border: 2px solid black;
       text-align: center;
      font-size: 125%
   }
   	
  .body {
 font-size: 100%;
}

.row {
    width: 90%;
    border : 5px;
    margin-right: auto;
    margin-left: auto;
    padding:5px;
   }

#Rasgulla{background-color:#e8a7a7;}
#GulabJamun{background-color:#d6331a;
                            color : white;}
#Sushi{background-color:#eddb80;}


/********** Desktop **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    background-color: white; 
    width: 33.33%;
  }
}

/********** Tablet **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}

/********** Mobile **********/
@media (max-width: 767px) {.col-sm-12 {
    width: 100%;}
}



